<p>
  <strong>Answerer:</strong>
  <%= answer.answerer %>
</p>

<p>
  <strong>Answer:</strong>
  <%= answer.body %>
</p>

<p>
  <%= link_to 'Destroy Answer', [comment.question, answer], method: :delete,
              data: { confirm: 'Are you sure?' } %>
</p>
